<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权验证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var url = '$oauthUrl';
            if(url!=""){
                window.location.href = url;
            }
        });
    </script>
</head>
<body>
    <h1>开始授权验证......</h1>
</body>
</html>